<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

<div class="center">
    <h1>Welcome to the Great Number Game!</h1>
    <h3>I am thinking of a number between 1 and 100</h3>
    <p>Take a guess!</p>

    <div class="<% if (win) { %>win<% } else if(win != null) { %>lose<% } %> result"><span><%= res %><a href="/reset">Play again!</a></span></div>

    <form action="/process" method="post" class="<% if (win) { %>win<% } %>">
        <input type="text" name="guess" />
        <input type="submit" type="submit" />
    </form>
</div>


</body>
</html>