<html>

<head>
    <link ref="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

<div class="center">
    <h1>Welcome to the Great Number Game!</h1>
    <h3>I am thinking of a number between 1 and 100</h3>
    <p>Take a guess!</p>

    <div class="<% if (win) { %>win<% } else { %>lose<% } %>"><%= res %></div>

    <form action="/process" method="post">
        <input type="text" name="guess" />
        <input type="submit" type="submit" />
    </form>
</div>

<p>Number: <%= number %></p>
<p>Res: <%= res %></p>
<p>Win: <%= win %></p>


</body>
</html>